#war-wrapper {
  min-height: 100%;
  height: auto;
  margin-bottom: -60px;
  display: flex;
  align-items: center;
  text-shadow: 1px 0px 5px rgba(0, 0, 0, 0.25);
  .winner {
    border: 1px solid #27ad60;
    box-shadow: 0 0 10px rgba(39, 174, 96, 0.5);
    &-text {
      color: #27ad60;
      font-size: 25px;
      padding: 5px;
      margin: 0 auto;
      text-shadow: 0 0 5px rgba(39, 174, 96, 0.2);
    }
  }
  .loser {
    border: 1px solid #ad2727;
    box-shadow: 0 0 10px rgba(174, 39, 39, 0.5);
    &-text {
      color: #ad2727;
      font-size: 25px;
      padding: 5px;
      margin: 0 auto;
      text-shadow: 0 0 5px rgba(174, 39, 39, 0.2);
    }
  }
}
