<div id="footer">
  <div class="footer-container text-center">
    <ul class="list-inline">
      <li><a href="https://github.com/volchan"><i class="fa fa-github fa-lg"></i></a></li>
      <li><a href="https://twitter.com/volchantv"><i class="fa fa-twitter fa-lg"></i></a></li>
      <li><a href="https://youtube.com/volchantv"><i class="fa fa-youtube-play fa-lg"></i></a></li>
    </ul>
    <p>Made by Volchan</p>
  </div>
</div>
