<div class="navbar navbar-fixed">
  <div class="logo">
    <%= image_tag 'logo.svg', id: 'logo-war'%>
    <p>Commit Wars</p>
  </div>
  <div class="home-btn">
    <%= link_to 'New War !', root_path, class: 'btn btn-primary' %>
  </div>
</div>
