<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 text-center">
        <%= image_tag 'logo.svg', id: 'logo'%>
        <h1>Commit Wars</h1>
        <p>Comming soon...</p>
      </div>
    </div>
  </div>
</div>
