<div id="war-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <div class="result-team-one text-center"></div>
        <%= render 'card', repo: @first_repo, owner: @team_one.username, repo_name: @team_one.repository, team: 'team-one' %>
      </div>
      <div class="col-sm-4">
        <div class="result-team-two text-center"></div>
        <%= render 'card', repo: @second_repo, owner: @team_two.username, repo_name: @team_two.repository, team: 'team-two' %>
      </div>
    </div>
  </div>
</div>
