// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";

* {
  margin: 0;
}

html, body {
  background-color: #15151c;
  color: #dfdfdf;
  height: 100vh;
}

#footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  .footer-container {
    width: 150px;
    ul {
      margin: 0 0 2px 0;
    }
    p {
      font-size: 10px;
    }
    a {
      color: #dfdfdf;
      &:hover {
        color: #2989b9;
      }
    }
  }
}

#logo {
  width: 200px;
}
